<h2>Vita</h2>

<p>
  Herzlich willkommen auf meiner Webseite!
</p>
<p>
Ich heiße Maria Klara Kuiter, wurde 1965 geboren, bin verheiratet und habe zwei Kinder. Beruflich bin ich als Finanzbuchhalterin tätig. Ich male schon seit meiner Kindheit gerne und habe dieses Hobby im Laufe der Jahre immer weiter verfeinert durch kleinere Malkurse, durch zwei längere Fernkurse („Künstlerische Grafik“ und „Freies Zeichnen“) und vor allem natürlich durch das Malen und Zeichnen selbst.
</p>
<p>
Auf dieser Seite gebe ich Ihnen einen Einblick in meine Arbeiten. Wenn Sie sich für ein Bild interessieren oder einen besonderen Bilderwunsch haben, dem mein Malstil gerecht werden könnte, nehmen Sie gerne Kontakt mit mir auf.
</p>