<h2>Startseite</h2>

<p>Herzlich willkommen auf meiner Webseite!</p>

<p>Hier sehen Sie auf einen Blick einige meiner Bilder.<p>
  
<table class="thumbs">
  <tbody>
    <tr>
    <% i = 0; @categories.each do |category|
    image = category.sub_categories.first.images.order(:order).first
    next unless image %>
    <%= '</tr><tr>'.html_safe if i % 3 == 0 %>
      <td>
        <a href="<%= category.url %>"><%= image_tag image.thumb, width: 230 %>
        <h4><%= category.title %></h4></a></td>
    <% i+=1; end %>
    <% (3 - i).times do %>
      <td></td>
    <% end %>
    </tr>
  </tbody>
</table>