<h2>Startseite</h2>

<p>Herzlich willkommen auf meiner Webseite!</p>

<p>Hier sehen Sie auf einen Blick einige meiner Bilder.<p>
  
<table class="thumbs">
  <tbody>
    <tr>
    <% i = 0; @images.each do |image| %>
    <%= '</tr><tr>'.html_safe if i % 3 == 0 %>
      <td>
        <a href="<%= image.sub_category.category.url %>"><%= image_tag image.thumb, width: 230 %>
        <h4><%= image.sub_category.category.title %></h4></a></td>
    <% i+=1; end %>
    <% (3 - i).times do %>
      <td></td>
    <% end %>
    </tr>
  </tbody>
</table>