<h2>Hallo Maria!</h2>

<ul class="spaced">
  <li><strong><%= link_to 'Bilder verwalten', admin_images_path %></strong> - Hier kannst du Bilder hinzufügen, bearbeiten und löschen.</li>
  <li><strong><%= link_to 'Bereiche verwalten', admin_categories_path %></strong> - Hier kannst du die Navigationsleiste verändern.</li>
  <li><strong><%= link_to 'Kategorien verwalten', admin_sub_categories_path %></strong> - Hier kannst du die Unterpunkte in der Navigation ändern.</li>
</ul>